/* start of desktop styles */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster');

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
	text-decoration: none;
}

.wrapper{
    width: 100%;
}

.nav-bar {
    width: 100%;
    height: 70px;
    padding: 10px;
    background-color:#1D2C3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


.nav-bar .nav-bar-left a{
    font-family: 'Dancing Script', cursive;
    color:#59C3C3;
    font-size: 35px;
}
.nav-bar .nav-bar-right ul li{
    display:inline-block;
    width: 120px;
    text-align: center;
}

.nav-bar .nav-bar-right ul li a{
    color:#EBEBEB ;
	font-size: 18px;
}
.nav-bar .nav-bar-right ul li a.active,
.nav-bar .nav-bar-right ul li a:hover{
    color:#59C3C3;
}

.nav-bar .hamburger{
	display: none;
}

.hamburger{
    display:none;
}

main{
    display:flex;
    flex-direction:row;
    height:60%;
    overflow:auto;
}

 .left-pane{
    display:flex;
    flex-direction:column;
    width:25%;
    margin-right:0.75%;
    margin-left:0.75%;
    margin-top:0.75%;
} 

.profile-picture figure{
        margin: 0px;
        background-position: center;
        background-size: cover;
        background-image: url("photo11.jpg");
        width: 100%;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
}

.bio{
    background-color:whitesmoke;
    padding:2%;
    margin-bottom:0.75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bio h3{
    font-size:25px;
}
.bio p{
    margin-top:1%;
    margin-bottom:1%;
}

.affiliation-main{
    display:flex;
    flex-direction:column;
    height:60%;
    overflow:auto;
}
.affiliation-pane{
    display:flex;
    flex-direction:row;
    width:100%;
}
.affiliation{
    flex-basis: 100%;
    margin:0.5%;
    height:80%;
    width:80%;
}

.affiliation-picture figure{
    margin: 0px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.affiliation-heading{
    background-color:whitesmoke;
    padding:2%;
    margin-bottom:0.75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.affiliation-heading h3{
    /*font-size:25px;*/
}
.affiliation-heading p{
    margin-top:1%;
    margin-bottom:1%;
}

.affiliation-info p{
    margin-top:0.5%;
    margin-bottom:0.5%;
    text-align: justify;
}

.organization-pane{
    display:flex;
    flex-direction:row;
    width:100%;
}
.organization{
    flex-basis: 100%;
    margin:0.5%;
    height:80%;
    width:80%;
}

.organization-picture figure{
    margin: 0px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.organization-heading{
    background-color:whitesmoke;
    padding:2%;
    margin-bottom:0.75%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.organization-heading p{
    margin-top:1%;
    margin-bottom:1%;
}

.organization-info p{
    margin-top:0.5%;
    margin-bottom:0.5%;
    text-align: justify;
}




/* .bio .bio-info i{
    float: left;
}
.bio .bio-info p{
    float: right;
} */

.quote{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:whitesmoke;
    margin-top:2%; 
    border-radius: 15px;
    margin-bottom:3%;
    padding-bottom:2%;
}

.quote h1{
    text-align: center;
    color:#59C3C3;
    background-color:#1D2C3D;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom:5%;
	box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.2); top*/
    /*box-shadow: 5px 0 5px -5px rgba(0,0,0,0.2); /*right*/
    /*box-shadow: -5px 0 5px -5px rgba(0,0,0,0.2); /*left */
}

#qod{
    text-align:justify;
    margin:2%;
}
#author{
    margin-right:10%;
}

.fact{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color:whitesmoke;
    margin-top:2%; 
    border-radius: 15px;
    margin-bottom:3%;
    padding-bottom:2%;
    display:flex;
    flex-direction:column;
}

.fact h1{
    text-align: center;
    color:#59C3C3;
    background-color:#1D2C3D;
    margin-top: 0;
    padding-top: 5%;
    padding-bottom:5%;
	box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    /*box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.2); top*/
    /*box-shadow: 5px 0 5px -5px rgba(0,0,0,0.2); /*right*/
    /*box-shadow: -5px 0 5px -5px rgba(0,0,0,0.2); /*left */
}

#fod{
    text-align:justify;
    margin:2%;
}

#ftitle{
    text-align: center;
    font-weight: bold;
}

#furl figure{
    margin: 0px;
    background-position: center;
    background-size: cover;
    background-image: url("photo11.jpg");
    width: 100%;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.right-pane{
    display:flex;
    flex-direction:column;
    width:75%;
    margin-right:0.75%;
    margin-top:0.75%;
}
.techstack
{
    background-color:whitesmoke;
    flex-grow:1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom:1%;
    border-radius:15px;
    margin-bottom:1%;
}

.techstack h1{
    text-align: center;
    color:#59C3C3;
    background-color:#1D2C3D;
    margin-top: 0;
    box-sizing: border-box;
    padding-top:1%;
    padding-bottom:1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.techstack table{
    margin:1%;
}
.techstack td{
    margin-left:1%;
    margin-bottom:1%;
}

.work{
    background-color:whitesmoke;
    flex-grow:1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom:1%;
    border-radius:15px;
    text-align: justify;
    margin-bottom:1%;
}

.work h1{
    text-align: center;
    color:#59C3C3;
    background-color:#1D2C3D;
    margin-top: 0;
    box-sizing: border-box;
    padding-top:1%;
    padding-bottom:1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.work table{
    margin:1%;
}
.work p{
    font-size:20px;
    margin:1%;
}
.education{
    background-color:whitesmoke;
    flex-grow:1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom:1%;
    border-radius:15px;
    text-align: justify;
    margin-bottom:1%;
} 

.education h1{
    text-align: center;
    color:#59C3C3;
    background-color:#1D2C3D;
    margin-top: 0;
    box-sizing: border-box;
    padding-top:1%;
    padding-bottom:1%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.education table{
    margin:1%;
}
.education p{
    font-size:20px;
    margin:1%;
}

footer{
    position:relative;
    background-color:#59C3C3;
    color:whitesmoke;
    padding-bottom:1%;
}

footer p{
    padding-top:1%;
}

footer a i{
    color:whitesmoke;
    padding-left:1%;
    height:24px;
}

footer a:hover i{
    color:#1D2C3D;
}

    
    @media screen and (max-width: 768px) {
        body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            width:auto;
        }
        .nav-bar{
            flex-direction:column;
            height:auto;
            align-items:center;
        }

        .nav-bar .hamburger{
            display:block;
            position:absolute;
            top:20px;
            right:20px;
            color:#59C3C3;
        }

        .nav-bar .nav-bar-left a{
            font-size:30px;
        }
        .nav-bar .nav-bar-right ul li{
            display:block;
            padding-top:10px;
            padding-bottom:10px;
        }
        .nav-bar .nav-bar-right{
            display:none;
        }
        .nav-bar-right.active{
            display: block;
        }
        main{
            display:flex;
            flex-direction:column;
            height:60%;
            overflow:auto;
            margin-left:0.5%;
            margin-right:0.5%;
        }
        
        .left-pane{
            display:flex;
            flex-direction:column;
            width:100%;
            margin:0%;
        }

        .right-pane{
            display:flex;
            flex-direction:column;
            width:100%;
            margin:0%;
        }

        .profile-picture figure{
            margin-top:1%;
        }
        .bio{
            margin-bottom:1%;
        }
        .quote{
            margin-bottom:1%;
            /* padding-right:5%; */
        }
        .quote h1{
            text-align: center;
            color:#59C3C3;
            background-color:#1D2C3D;
            margin-top: 0;
            padding-top: 3%;
            padding-bottom:3%;
            box-sizing: border-box;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        .fact{
            margin-bottom:1%;
            /* padding-right:5%; */
        }
        .fact h1{
            text-align: center;
            color:#59C3C3;
            background-color:#1D2C3D;
            margin-top: 0;
            padding-top: 3%;
            padding-bottom:3%;
            box-sizing: border-box;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        #fod{
            text-align:justify;
        }

        .affiliation-main{
            display:flex;
            flex-direction:column;
            height:60%;
            overflow:auto;
            margin-left:0.5%;
            margin-right:0.5%;
        }
        /*
        .affiliation-main{
            display:flex;
            flex-direction:column;
            flex-grow:1;
            height:60%;
            width:100%;
            overflow:auto;
            padding-left:1%;
            padding-right:1%;
        }
        */
        .affiliation-pane{
            display:flex;
            flex-direction:column;
            width:100%;

        }
        .affiliation{
            flex-basis: 100%;
            margin:0.5%;
            height:80%;
            width:100%;
        }
        
        .affiliation-picture figure{
            margin: 0px;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 250px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .affiliation-heading{
            background-color:whitesmoke;
            padding:2%;
            margin-bottom:0.75%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        
        .affiliation-heading h3{
            /*font-size:25px;*/
        }
        .affiliation-heading p{
            margin-top:1%;
            margin-bottom:1%;
        }
        
        .affiliation-info p{
            margin-top:0.5%;
            margin-bottom:0.5%;
            text-align: justify;
        }
        
        .organization-pane{
            display:flex;
            flex-direction:column;
            width:100%;
        }
        .organization{
            flex-basis: 100%;
            margin:0.5%;
            height:80%;
            width:100%;
        }
        
        .organization-picture figure{
            margin: 0px;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 250px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .organization-heading{
            background-color:whitesmoke;
            padding:2%;
            margin-bottom:0.75%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        
        .organization-heading p{
            margin-top:1%;
            margin-bottom:1%;
        }
        
        .organization-info p{
            margin-top:0.5%;
            margin-bottom:0.5%;
            text-align: justify;
        }

        
        .techstack{
            margin-top:2%;
            margin-bottom:2%;
        }

        .techstack h1{
            padding-top: 3%;
            padding-bottom:3%;
        }
        .work{
            margin-top:1%;
            margin-bottom:2%;
        }
        .work h1{
            padding-top: 3%;
            padding-bottom:3%;
        }
        .education{
            margin-top:1%;
            margin-bottom:2%;
        }

        .education h1{
            padding-top: 3%;
            padding-bottom:3%;
        }
    
    } 


/*
Text colour on high-light in navigation #59C3C3 else white
and footer as well
C1CAD6
*/

